{% extends 'base.html' %}

{% block head_links %}
{% endblock %}

{% block mainContent %}
    {% if curr_is_latest %}
        <section style="text-align: center;">
            <button onclick="handleCreateButtonClick();" class="common-button">Criar {{ next_month_name }} {{ next_month_year }}</button>
        </section>
    {% else %}
        <section style="text-align: center;">
            <button onclick="handleNextButtonClick();" class="common-button">Destrancar {{ next_month_name }} {{ next_month_year }}</button>
        </section>
    {% endif %}

    <!-- Add a hidden div for the waiting message -->
    <div id="waitingMessage" style="display:none; text-align: center;">
        <p>Processing your request, please wait...</p>
    </div>

    <section>
        <form method="post" action="{{ url_for('dataview.sum_by_doctor') }}">

            <label for="option">Calcular Mês:</label>
            <select name="month">
                {% for month in months %}
                    <option value="{{ month }}" {% if month==current_month_name %} selected {% endif %}>{{ month }}</option>
                {% endfor %}
            </select>

            <select name="year">
                {% for year in range(2020, 2031) %}
                    <option value="{{ year }}" {% if year==current_year %} selected {% endif %}>{{ year }}</option>
                {% endfor %}
            </select>

            <input type="hidden" name="action" value="calc">

            <button type="submit">Calcular</button>
        </form>
    </section>

    <section>
        <form method="post" action="{{ url_for('admin.exclude_doctor') }}">

              <label for="exclude-doctor">Excluir Médico do Sistema:</label>
              <select id="exclude-doctor" name="crm">

                {% for doctor in doctors_list %}
                    <option value="{{ doctor[0] }}">{{ doctor[1] }}</option>
                {% endfor %}

              </select>

              <button type="submit">Excluir</button>
        </form>
    </section>

    <section>
        <form method="post" action="{{ url_for('admin.include_doctor_month') }}">

              <label for="include-doctor-month">Incluir Médico no Mês:</label>
              <select name="month">
                {% for month in open_months %}
                    <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
              </select>
              
              <select id="included-doctor-month" name="crm">
                {% for doctor in open_doctors_list %}
                    <option value="{{ doctor[0] }}">{{ doctor[1] }}</option>
                {% endfor %}
              </select>

              <button type="submit">Incluir</button>
        </form>
    </section>

    <section>
        <form method="post" action="{{ url_for('admin.exclude_doctor_month') }}">

              <label for="exclude-doctor-month">Excluir Médico no Mês:</label>
              <select name="month">
                {% for month in open_months %}
                    <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
              </select>

              <select id="excluded-doctor-month" name="crm">
                {% for doctor in doctors_list %}
                    <option value="{{ doctor[0] }}">{{ doctor[1] }}</option>
                {% endfor %}
              </select>

              <button type="submit">Excluir</button>
        </form>
    </section>

    <section>
        <form method="post" action="">
              <label for="create-month">Criar Novo Centro:</label>
              <select id="create-month" name="month">
                {% for month in months %}
                    <option value="{{ month }}" {% if month == current_month_name %} selected {% endif %}>{{ month }}</option>
                {% endfor %}
              </select>

              <select id="create-year" name="year">
                  {% for year in range(2020, 2031) %}
                    <option value="{{ year }}" {% if year == current_year %} selected {% endif %}>{{ year }}</option>
                  {% endfor %}
              </select>
              <button type="submit">Criar</button>
        </form>
    </section>

    <script type="text/javascript" src="{{ url_for('admin.static', filename='scripts/buttonListeners.js') }}"></script>
{% endblock %}
