{% extends 'base.html' %}

{% block head_links %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/vacations.js') }}"></script>
{% endblock %}

{% block mainContent %}
    {% if curr_is_latest %}
        <section style="text-align: center;">
            <button onclick="handleCreateButtonClick();" class="common-button">Criar {{ next_month_name }} {{ next_month_year }}</button>
        </section>
    {% else %}
        <section style="text-align: center;">
            <button onclick="handleNextButtonClick();" class="common-button">Destrancar {{ next_month_name }} {{ next_month_year }}</button>
        </section>
    {% endif %}

    <!-- Add a hidden div for the waiting message -->
    <div id="waitingMessage" style="display:none; text-align: center;">
        <p>Processing your request, please wait...</p>
    </div>

    <section>
        <form method="post" action="{{ url_for('dataview.sum_doctor_by_month') }}">

            <label for="option">Carga Horária Mês:</label>
            <select name="month">
                {% for month in months %}
                    <option value="{{ month }}" {% if month==current_month_name %} selected {% endif %}>{{ month }}</option>
                {% endfor %}
            </select>

            <select name="year">
                {% for year in range(2020, 2031) %}
                    <option value="{{ year }}" {% if year==current_year %} selected {% endif %}>{{ year }}</option>
                {% endfor %}
            </select>

            <input type="hidden" name="action" value="calc">

            <button type="submit">Calcular</button>
        </form>
    </section>

    <section>
        <form method="post" action="{{ url_for('dataview.sum_doctor_by_base') }}">

            <label for="option">Carga Horária Base:</label>
            <input type="hidden" name="action" value="calc">
            <button type="submit">Calcular</button>
        </form>
    </section>

    <section>
        <form method="post" action="{{ url_for('privilege.calculate_vacation_pay') }}" target="_blank">
            <label for="calc-payment">Calcular Pagamento Férias:</label>
            <select id="doctor-to-pay-select" name="crm">
                {% for doctor in doctors_list %}
                    <option value="{{ doctor[0] }}">{{ doctor[1] }}</option>
                {% endfor %}
            </select>   
            <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 30px; margin-top: 20px;">
                <div style="margin-right: 10px;">
                    <input type="date" id="payment-start-date" name="start_date" required>
                </div>
            
                <div style="margin-right: 10px;">
                    <input type="date" id="payment-end-date" name="end_date" required>
                </div>
            </div>
        
            <button type="submit">Calcular</button>
        </form>
    </section>

    <section>
        <form method="post" action="{{ url_for('privilege.register_privilege') }}">
            <label for="privilege">Registrar Benefício:</label>
            <div>
            <select id="doctor-to-receive-privilege" name="crm">
                {% for doctor in doctors_list %}
                    <option value="{{ doctor[0] }}">{{ doctor[1] }}</option>
                {% endfor %}
            </select>  
            <label for ="privilege-type" style="margin-left: 100px;">Tipo:</label> 
            <select id="privilege-type" name="privilege_type">
                <option value="0">Férias</option>
                <option value="1">Licença Médica</option>
            </select>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 30px; margin-top: 20px;">
                <div style="margin-right: 10px;">
                    <input type="date" id="privilege-start-date" name="start_date" required>
                </div>
            
                <div style="margin-right: 10px;">
                    <input type="date" id="privilege-end-date" name="end_date" required>
                </div>
            </div>
        
            <button type="submit">Registrar</button>
        </form>
    </section>

    <section>
        <form method="get" action="{{ url_for('privilege.vacations_report') }}">
            <label for="vacations-report">Relatório de Férias:</label>
            <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 30px; margin-top: 20px;"></div>
    
            <button type="submit">Entrar</button>
        </form>
    </section>

    {% if user_is_root %}
    <section>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="file">Upload:</label>
            <input style="padding: 20px;" type="file" name="file" id="file">

            <div>
                <select name="month">
                    {% for month in months %}
                        <option value="{{ month }}" {% if month==current_month_name %} selected {% endif %}>{{ month }}</option>
                    {% endfor %}
                </select>

                <select name="year">
                    {% for year in range(2020, 2031) %}
                        <option value="{{ year }}" {% if year==current_year %} selected {% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>

                <select name="dcoument">
                    {% for doc in documents %}
                        <option value="{{ doc }}">{{ doc }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </section>
    {% endif %}
    
    <script type="text/javascript" src="{{ url_for('admin.static', filename='scripts/buttonListeners.js') }}"></script>
{% endblock %}
