{% extends 'base.html' %}

{% block head_links %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/vacations.js') }}"></script>
{% endblock %}

{% block mainContent %}
    <!-- Add a hidden div for the waiting message -->
    <div id="waitingMessage" style="display:none; text-align: center;">
        <p>Processing your request, please wait...</p>
    </div>

    <section>
        <form method="post" action="{{ url_for('admin.exclude_doctor') }}" onsubmit="return confirmExclusion()">
            <label for="exclude-doctor">Excluir Médico do Sistema:</label>
            <select id="exclude-doctor" name="crm">
                {% for doctor in doctors_list %}
                    <option value="{{ doctor[0] }}">{{ doctor[1] }}</option>
                {% endfor %}
            </select>
            <button type="submit">Excluir</button>
        </form>
    </section>
    
    <script>
        function confirmExclusion() {
            return confirm('Are you sure you want to exclude this doctor from the system?');
        }
    </script>

    <section>
        <form method="post" action="{{ url_for('admin.include_doctor_month') }}">

              <label for="include-doctor-month">Incluir Médico no Mês:</label>
              <select name="month">
                {% for month in open_months %}
                    <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
              </select>

              <select id="included-doctor-month" name="crm">
                {% for doctor in open_doctors_list %}
                    <option value="{{ doctor[0] }}">{{ doctor[1] }}</option>
                {% endfor %}
              </select>

              <button type="submit">Incluir</button>
        </form>
    </section>

    <section>
        <form method="post" action="{{ url_for('admin.exclude_doctor_month') }}">

              <label for="exclude-doctor-month">Excluir Médico do Mês:</label>
              <select name="month">
                {% for month in open_months %}
                    <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
              </select>

              <select id="excluded-doctor-month" name="crm">
                {% for doctor in doctors_list %}excluded-doctor-month
                    <option value="{{ doctor[0] }}">{{ doctor[1] }}</option>
                {% endfor %}
              </select>

              <button type="submit">Excluir</button>
        </form>
    </section>

    <section>
        <form method="post" action="{{ url_for('admin.create_center') }}">
              <label for="create-center">Criar Novo Centro:</label>
              <input type="text" id="center_name" name="center_name" placeholder="Nome do Novo Centro" required>

              <input type="text" id="center_abbr" name="center_abbr" placeholder="Abreviação do Novo Centro" required>

              <button type="submit">Criar</button>
        </form>
    </section>

    {% if maintenance_is_on %}
        <section style="text-align: center;">
            <button onclick="toggleMaintenance();" class="common-button">OPEN SYSTEM</button>
        </section>
    {% else %}
        <section style="text-align: center;">
            <button onclick="toggleMaintenance();" class="common-button">BLOCK SYSTEM</button>
        </section>
    {% endif %}

    <script type="text/javascript" src="{{ url_for('admin.static', filename='scripts/buttonListeners.js') }}"></script>
{% endblock %}
