.venv/
.idea/
instance/
old_db.db
__pycache__/
migration/__pycache__/

app/__pycache__/
app/routes/__pycache__/
app/models/__pycache__/

app/routes/__pycache__/
app/routes/admin/__pycache__/
app/routes/calendar/__pycache__/
app/routes/dashboard/__pycache__/
app/routes/dataview/__pycache__/
app/routes/login/__pycache__/
app/routes/report/__pycache__/
