{% extends 'base.html' %}

{% block mainContent %}
    <section class="flex-container">
        {% for center in centers %}
            <a href="/calendar/{{ center }}"><button class="common-button">{{ center }}</button></a>
        {% endfor %}
        <a href="/doctor-schedule/{{ user }}"><button class="common-button">Meus Horários</button></a>

    </section>

    {% if pending_requests %}
        <section class="warning">
            <p>Você tem Requisições Pendentes!</p>
            <a href="{{ url_for('requests.requests') }}"><button class="common-button">Resolve Requests</button></a>
        </section>
    {% endif %}

    <section>
        <form method="post" action="{{ url_for('dataview.monthview') }}">
              <label for="option">Visualizar Mês:</label>
              <select name="center">
                {% for center in centers %}
                    <option value="{{ center }}">{{ center }}</option>
                {% endfor %}
              </select>

              <select name="month">
                {% for month in months %}
                    <option value="{{ month }}" {% if month==current_month %} selected {% endif %}>{{ month }}</option>
                {% endfor %}
              </select>
              <select name="year">
                  {% for year in range(2020, 2031) %}
                    <option value="{{ year }}" {% if year==current_year %} selected {% endif %}>{{ year }}</option>
                  {% endfor %}
              </select>
              <input type="hidden" name="data_type" value="month">

              <button type="submit">Visualizar</button>
        </form>
    </section>
    
    {% if user_is_admin %}
    <section>
        <form method="post" action="{{ url_for('dataview.baseview') }}">
            <label>Editar Base:</label>
            <div class="flex-container">
                {% for center in centers %}
                    <button type="submit" name="center" value="{{ center }}" class="common-button">{{ center }}</button>
                {% endfor %}
            </div>
        </form>
    </section>

    <section style="text-align: center; margin-top: 20px;">
        <a href="{{ url_for('admin.admin') }}"><button class="common-button">Funções Admin</button></a>
    </section>
{% endif %}

{% endblock %}