{% extends 'base.html' %}

{% block mainContent %}
    <section class="flex-container">
        {% for center in centers %}
            <a href="/calendar/{{ center }}"><button class="common-button">{{ center }}</button></a>
        {% endfor %}
    </section>

    <section class="flex-container">
        <a href="/schedule"><button class="common-button">Meus Horários</button></a>
    </section>

    {% if pending_requests %}
    <section class="warning">
        <p>Você tem Requisições Pendentes!</p>
        <a href="{{ url_for('dashboard.requests') }}"><button class="common-button">Resolver Pendências</button></a>
    </section>
    {% endif %}

    <section>
        <form method="post" action="{{ url_for('dashboard.resolve_privilege') }}">
            <label for="request-privilege">Solicitar Benefício:</label>
            <select id="privilege-type" name="privilege_type">
                <option value="0">Férias</option>
                <option value="1">Licença Médica</option>
            </select>
            <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 30px; margin-top: 20px;">
                <div style="margin-right: 10px;">
                    <input type="date" id="vacation-start-date" name="start_date" required>
                </div>
    
                <div style="margin-right: 10px;">
                    <input type="date" id="vacation-end-date" name="end_date" required>
                </div>
            </div>
    
            <button type="submit">Solicitar</button>
        </form>
    </section> 

    <section>
        <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
            <a href="{{ url_for('privilege.vacations_report') }}"
               style="text-decoration: none; background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px; margin-right: 10px; font-size: 14px;">
                Ver Relatório de Férias
            </a>
        </div>
    </section>

    <section>
        <form method="post" action="{{ url_for('dataview.monthview') }}">
            <label for="option">Visualizar Mês:</label>
            <select name="center">
                {% for center in centers %}
                    <option value="{{ center }}">{{ center }}</option>
                {% endfor %}
            </select>

            <select name="month">
               {% for month in months %}
                    <option value="{{ month }}" {% if month==current_month %} selected {% endif %}>{{ month }}</option>
               {% endfor %}
            </select>
            <select name="year">
                {% for year in range(2020, 2031) %}
                    <option value="{{ year }}" {% if year==current_year %} selected {% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="data_type" value="month">

            <button type="submit">Visualizar</button>
        </form>
    </section>
    
    {% if user_is_admin %}
    <section>
        <form method="post" action="{{ url_for('dataview.baseview') }}">
            <label>Editar Base:</label>
            <div class="flex-container">
                {% for center in centers %}
                    <button type="submit" name="center" value="{{ center }}" class="common-button">{{ center }}</button>
                {% endfor %}
            </div>
        </form>
    </section>

    <section style="text-align: center; margin-top: 20px;">
        <a href="{{ url_for('admin.admin') }}"><button class="common-button">Funções Admin</button></a>
    </section>
{% endif %}

{% endblock %}