.calendar {
    user-select: none;
    cursor: default;
    border-collapse: collapse;
    width: 80%;
    margin: 50px auto;
}

.calendar-header {
    background-color: #f2f2f2;
    font-weight: bold;
}

.calendar, .calendar th, .calendar td {
    border: 1px solid #ddd;
}

.calendar th, .calendar td {
    padding: 15px;
    text-align: center;
}

#dictData {
    position: relative;
    left: 60px;  /* adjust this value to move the entire list to the right */
}

#dictData ul {
    list-style-type: none;  /* Remove bullet points */
    padding: 0px 0px;
    margin: 0;
}

#dictData li {
    width: 450px;
    background-color: #f9f9f9;  /* Light grey background */
    border: 1px solid #e0e0e0;  /* Border around each card */
    padding: 10px 15px;  /* Padding inside each card */
    margin: 10px 0;  /* Space between cards */
    border-radius: 5px;  /* Rounded corners */
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);  /* A slight shadow for depth */
    transition: transform 0.2s;  /* Smooth transformation transition */
}

#dictData li:hover {
    transform: translateY(-3px);  /* Lift the card up slightly */
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);  /* Increase the shadow depth */
}

.day-clicked {
    box-shadow: 0px 0px 10px #000; /* Example shadow effect */
}

.card {
    user-select: none;
}

/* Celulares Pequenos (até 425px) */
@media (max-width: 425px) {
    .calendar {
        margin: 12px auto;
    }
    
    .calendar-header {
        width: 80px;
    }
    
    .calendar th, .calendar td {
        padding: 12px;
    }
    
    #dictData {
        left: 0px;  /* adjust this value to move the entire list to the right */
    }
    
    #dictData ul {
        padding: 5px 5px;
    }
    
    #dictData li {
        width: 350px;
        font-size: medium;
        padding: 8px 8px;  /* Padding inside each card */
        margin: 5px 0;  /* Space between cards */
        border-radius: 2px;  /* Rounded corners */
    }
  }


/* Celulares Pequenos (até 375px) */
@media (max-width: 375px) {
    .calendar {
        margin: 12px auto;
    }
    
    .calendar-header {
        width: 80px;
    }
    
    .calendar th, .calendar td {
        padding: 9px;
    }
    
    #dictData {
        left: 0px;  /* adjust this value to move the entire list to the right */
    }
    
    #dictData ul {
        padding: 5px 5px;
    }
    
    #dictData li {
        width: 310px;
        font-size: medium;
        padding: 8px 8px;  /* Padding inside each card */
        margin: 5px 0;  /* Space between cards */
        border-radius: 2px;  /* Rounded corners */
    }
  }


/* Celulares Pequenos (até 320px) */
@media (max-width: 320px) {
    .calendar {
        margin: 10px auto;
    }
    
    .calendar-header {
        width: 60px;
    }
    
    .calendar th, .calendar td {
        padding: 5px;
    }
    
    #dictData {
        left: 0px;  /* adjust this value to move the entire list to the right */
    }
    
    #dictData ul {
        padding: 5px 5px;
    }
    
    #dictData li {
        width: 250px;
        font-size: small;
        padding: 5px 5px;  /* Padding inside each card */
        margin: 5px 0;  /* Space between cards */
        border-radius: 2px;  /* Rounded corners */
    }
  }