.kebab-menu {
    position: relative;
    display: inline-block;
    float: right;
    bottom: 15px; /* Espaço inferior */
}

.kebab-content {
    display: none;
    position: absolute;
    right: 0;
    top: 30px; /* Posiciona o dropdown abaixo do botão */
    background-color: #f9f9f9;
    min-width: 120px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Garante que o dropdown fique acima de outros elementos */
}

.kebab-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #e0e0e0;
}

.kebab-content a:last-child {
    border-bottom: none; /* Remove a borda inferior do último item */
}

.kebab-content a:hover {
    background-color: #e0e0e0; /* Cor de fundo um pouco mais escura ao passar o mouse */
}

.kebab-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    color: #000;
    padding: 5px; /* Espaçamento interno para tornar o botão clicável */
}