#login {
    border: 2px solid #ccc;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), -3px -3px 10px rgba(255, 255, 255, 0.7);
  }
  
  .login-register form {
    margin-bottom: 20px;
  }
  