.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.5s;
}

.modal-content {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10% auto;
    padding: 30px;
    border: none;
    width: 50%;
    max-width: 600px;
    animation: slideIn 0.4s;
}

.message {
    padding-right: 40px;
}

.close {
    color: #bbb;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

.doctor-options {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.submit-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive design for cell phones */
@media screen and (max-width: 600px) {
    .modal-content {
        width: 90%;
        margin: 10% auto;
    }

    .submit-button {
        font-size: 16px;
        padding: 10px 20px;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-50px); }
    to { transform: translateY(0); }
}

/* Flex container for options */
.flex-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    gap: 20px;
}

.flex-container label {
    margin-right: 5px;
}

.flex-container select {
    margin-left: 5px;
}
