body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-x: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  background-color: #333;
  color: white;
  padding: 0.1rem;
  text-align: center;
  cursor: pointer;
}

.header-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.05rem;
}

#logo {
  width: 100px;
  height: auto;
  padding-top: 15px;
}

.user-name {
  display: flex;
  align-items: center;
  margin-top: 0.005rem;
  font-size: 30px;
}

.user-name a {
  margin-right: 15px;
  color: #add8e6;
  text-decoration: none;
}

.button-logout {
  margin: 0;
}

.button-logout button {
  padding: 5px 15px;
  background-color: #007BFF; /* Blue color for the button */
  border: none;
  border-radius: 5px; /* Rounded corners */
  color: white; /* White text for contrast */
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.button-logout button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* main {
  display: block;
  width: 90%;
  max-width: 665px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

main {
  display: block;
  min-width: 90%;
  max-width: 665px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: fit-content; /* Ensure it grows with content */
  margin: 0 auto; /* Center the element horizontally */
}

main > * {
  margin-bottom: 20px;
}

a {
  color: black;
  text-decoration: none;
}

.backdrop {
  position: sticky; /* Match the position property of your button container */
  top: 0;
  left: 0;
  width: 100%;
  height: 90px; /* Adjust to match the height of your button container */
  background-color: white;
  z-index: 99; /* Below the button container but above the table */
}

.keep-in-window {
  min-height: 100vh; /* This ensures that the container is at least as tall as the viewport */
  /* other styles */
}

.text-danger {
  color: #dc3545; /* Red color */
  font-size: 0.875em; /* Adjust the font size if necessary */
  margin-top: 0.25rem; /* Add some space above the text */
  margin-bottom: 0.80rem; /* Add some space below the text */
}

input[type=text],
input[type=email],
input[type=password] {
  width: 90%;
  padding: 12px;
  margin: 8px 0;
}

/* Tablets (até 768px) */
@media (max-width: 768px) {
  .header-content {
    font-size: 28px;
    padding-left: 22px;
  }
  .backdrop {
    height: auto; /* Adjust the height for smaller screens if needed */
    top: 50px; /* Example of adding some space from the top */
  }
  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }
  .button-logout{
    width: 100%;
    position: relative;
    top: 20px;
  }
  .user-name {
    display: flex;
    align-items: center;
    margin-top: 0.1rem;
    font-size: 18px;
  }
  .user-name a {
    margin-right: 5px;
    color: #add8e6;
    text-decoration: none;
  }
}

/* Celulares Grandes (até 590px) */
@media (max-width: 590px) {
  .header-content {
    font-size: 28px;
    justify-content: center;
    align-items: center;
  }
  .backdrop {
    height: auto; /* Adjust the height for smaller screens if needed */
    top: 50px; /* Example of adding some space from the top */
  }
  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }
  .button-logout{
    width: 100%;
    position: relative;
    top: 20px;
  }
}

/* Celulares Grandes (até 425px) */
@media (max-width: 425px) {
  .header-content {
    font-size: 28px;
    padding-left: 22px;
  }
  .backdrop {
    height: auto; /* Adjust the height for smaller screens if needed */
    top: 50px; /* Example of adding some space from the top */
  }
  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }
  .button-logout{
    width: 100%;
    position: relative;
    top: 20px;
  }
}

/* Celulares Médios (até 375px) */
@media (max-width: 375px) {
  .header-content {
    font-size: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .backdrop {
    height: auto; /* Adjust the height for smaller screens if needed */
    top: 50px; /* Example of adding some space from the top */
  }
  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }
  .button-logout{
    width: 100%;
    position: relative;
    top: 20px;
  }
}

/* Celulares Pequenos (até 320px) */
@media (max-width: 320px) {
  .header-content {
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .backdrop {
    height: auto; /* Adjust the height for smaller screens if needed */
    top: 50px; /* Example of adding some space from the top */
  }
  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }
  .button-logout{
    width: 100%;
    position: relative;
    top: 20px;
  }
}
