header {
  font-size: 18px;
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  cursor: pointer
}

.header-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 100px;
  height: auto;
}

main {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
}

a {
  color: black;
  text-decoration: none;
}

input[type=text],
input[type=email],
input[type=password] {
  width: 90%;
  padding: 12px;
  margin: 8px 0;
}


@media screen and (max-width: 600px) {
    header {
    font-size: 7px;
    }

    #logo {
    width: 30px;
    height: auto;
    }

    #logout {
    padding: 0px 0px;
    }

    td {
    font-size: 11px; /* Adjust the width to your desired size */
    }
}