body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-x: scroll;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  background-color: #333;
  color: white;
  padding: 0.1rem;
  text-align: center;
  cursor: pointer;
}

.header-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.05rem;
}

#logo {
  width: 100px;
  height: auto;
  padding-top: 15px;
}

.user-name {
  display: flex;
  align-items: center;
  margin-top: 0.005rem;
  font-size: 30px;
}

.user-name a {
  margin-right: 15px;
  color: #add8e6;
  text-decoration: none;
}

.button-logout {
  margin: 0;
  bottom: 10px;
}

.button-logout button {
  padding: 5px 15px;
  background-color: #007BFF; /* Blue color for the button */
  border: none;
  border-radius: 5px; /* Rounded corners */
  color: white; /* White text for contrast */
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.button-logout button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

main {
  display: block;
  width: 100%;
  margin: 20px auto;
  padding: 2px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main > * {
  margin-bottom: 20px;
}

a {
  color: black;
  text-decoration: none;
}

.keep-in-window {
  min-height: 100vh; /* This ensures that the container is at least as tall as the viewport */
  /* other styles */
}

.text-danger {
  color: #dc3545; /* Red color */
  font-size: 0.875em; /* Adjust the font size if necessary */
  margin-top: 0.25rem; /* Add some space above the text */
  margin-bottom: 0.80rem; /* Add some space below the text */
}

input[type=text],
input[type=email],
input[type=password] {
  width: 90%;
  padding: 12px;
  margin: 8px 0;
}

.table-responsive {
  width: 99%;
  height: 100%;
  overflow-x: auto;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: white; /* Ajuste conforme necessário */
  z-index: 1000; /* Garante que o cabeçalho esteja acima de outros conteúdos */
}

.table-responsive {
  /* Defina uma altura máxima ou permita a rolagem vertical */
  max-height: 600px;  /* Ajuste conforme necessário */
  overflow-y: auto;
  width: 100%;
}


/* Tablets (até 768px) */
@media (max-width: 768px) {
  .header-content {
    font-size: 28px;
    padding-left: 22px;
  }
  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }
  .button-logout{
    width: 100%;
    position: relative;
  }
  .user-name {
    display: flex;
    align-items: flex-start;
    margin-top: 0.1rem;
    font-size: 18px;
  }

  .user-name a {
  white-space: nowrap;
  width: 200px; /* Defina uma largura apropriada */
 }

 form#logout {
  display: contents;
 }
}

/* Celulares Grandes (até 590px) */
@media (max-width: 590px) {
  .header-content {
    font-size: 28px;
    justify-content: center;
    align-items: center;
  }

  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }

  .button-logout{
    width: 100%;
    position: relative;
  }
  .user-name {
    display: flex;
    align-items: flex-start;
    margin-top: 0.1rem;
    font-size: 18px;
  }

  .user-name a {
  white-space: nowrap;
  width: 200px; /* Defina uma largura apropriada */
  }

  form#logout {
    display: contents;
  }
}

/* Celulares Grandes (até 425px) */
@media (max-width: 425px) {
  .header-content {
    font-size: 28px;
    padding-left: 22px;
  }
  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }
  .button-logout{
    width: 100%;
    position: relative;
    top: 20px;
  }

  .button-logout{
    width: 100%;
    position: relative;
  }
  .user-name {
    display: flex;
    align-items: flex-start;
    margin-top: 0.1rem;
    font-size: 18px;
  }

  .user-name a {
  white-space: nowrap;
  width: 200px; /* Defina uma largura apropriada */
  }

  form#logout {
    display: contents;
  }
}

/* Celulares Médios (até 375px) */
@media (max-width: 375px) {
  .header-content {
    font-size: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }
  .button-logout{
    width: 100%;
    position: relative;
  }
  .user-name {
    display: flex;
    align-items: flex-start;
    margin-top: 0.1rem;
    font-size: 18px;
  }

  .user-name a {
  white-space: nowrap;
  width: 250px; /* Defina uma largura apropriada */
  } 

  form#logout {
    display: contents;
  }
}

/* Celulares Pequenos (até 320px) */
@media (max-width: 320px) {
  .header-content {
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }
  .button-logout{
    width: 100%;
    position: relative;
    bottom: 10px;
  }
  .user-name a {
    white-space: nowrap;
    width: 200px; /* Defina uma largura apropriada */
  }

  form#logout {
    display: contents;
  }
}
