{% extends 'base.html' %}

{% block head_links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('login.static', filename='css/login.css') }}">
{% endblock %}

{% block outsideContent %}
    <div class="container">
        <div class="login-inicial">
            <form class="login-form" id="login" method="POST" action="">
                {{ form.hidden_tag() }}

                <h2>Login</h2>
                {{ form.crm_number(id="crm", placeholder="CRM", autofocus=True) }}

                {{ form.password(id="password", placeholder="SENHA") }}

                {{ form.submit(class="button") }}
            </form>
        </div>
    </div>
    <div class="inscrever">
        <small>
            <a href="{{ url_for('login.register') }}"> Inscreva-se </a>
        </small>
    </div>
{% endblock %}
