{% extends 'base.html' %}


{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('dataview.static', filename='css/table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/vacations.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('privilege.static', filename='scripts/showPay.js') }}"></script>
{% endblock %}

{% block mainContent %}
        <div id="payModal" class="modal hidden">
            <div class="modal-content">
                <h2>Confirmar Ação</h2>
                <!-- Dynamic content will be loaded here -->
                <div id="modalBody"></div>
                <div class="button-group">
                    <button id="cancelButton" class="submit-button cancel-button">Cancel</button>
                    <button id="saveButton" class="submit-button save-button">Save</button>
                </div>
            </div>
        </div>
        <div id="overlay" class="overlay hidden"></div>

        {% if user_is_admin %}
            <section style="text-align: center;">
                <button onclick="getPrivilegeRights();" class="common-button">Checar Férias</button>
            </section>
        {% endif %}

        <div id="vacations-report-table">
            <table>
                <head>
                    <tr>
                        <th>Médico</th>
                        <th>CRM</th>
                        <th>Benefício</th>
                        <th>Início</th>
                        <th>Fim</th>
                        <th>Mês Contábil</th>
                        <th>Status</th>
                        {% if user_is_admin %}
                            <th></th>
                        {% endif %}
                        {% if user_is_root %}
                            <th></th>
                            <th></th>
                            <th></th>
                        {% endif %}
                    </tr>
                </head>
                <tbody>
                    {% for vacation in vacations %}
                        <tr>
                            <td>{{ vacation.name }}</td>
                            <td>{{ vacation.crm }}</td>
                            <td>{{ vacation.type }}</td>
                            <td>{{ vacation.start_date }}</td>
                            <td>{{ vacation.end_date }}</td>
                            <td>{{ vacation.fiscal_month_txt | replace('\n', '<br>') | safe }}</td>
                            <td>{{ vacation.status }}</td>
                            {% if user_is_admin %}
                                <td>
                                    <button 
                                        class="submit-button save-button"
                                        onclick="showPay(this)"
                                        data-id="{{ vacation.id }}"
                                        data-month="{{ vacation.fiscal_month }}"
                                    >
                                        $
                                    </button>
                                </td>
                            {% endif %}
                            {% if user_is_root %}
                                <td>
                                    <button 
                                        class="submit-button save-button {% if vacation.status in ["Em andamento", "Concluído", "Pago", "Não Pago", "deferido"] %}disabled-button{% endif %}" 
                                        onclick="changeStatus(this, 'defered')" 
                                        data-id="{{ vacation.id }}"
                                        {% if vacation.status in ["Em andamento", "Concluído", "Pago", "Não Pago", "deferido"] %}disabled{% endif %}
                                    >
                                        Deferir
                                    </button>
                                </td>
                                <td>
                                    <button 
                                        class="submit-button save-button {% if vacation.status == "Pago" %}disabled-button{% endif %}" 
                                        onclick="changeStatus(this, 'paid')" 
                                        data-id="{{ vacation.id }}"
                                        data-month="{{ vacation.fiscal_month }}"
                                        {% if vacation.status == "Pago" %}disabled{% endif %}
                                    >
                                        Pagar
                                    </button>
                                </td>
                                <td>
                                    <button
                                        class="submit-button delete-button"
                                        onclick="changeStatus(this, 'deleted')"
                                        data-id="{{ vacation.id }}"
                                    >
                                        Cancelar
                                    </button>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}              
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
