{% extends 'base.html' %}


{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('dataview.static', filename='css/table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/vacations.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('privilege.static', filename='scripts/showPay.js') }}"></script>
{% endblock %}

{% block mainContent %}
        <div id="payModal" class="modal hidden">
            <div class="modal-content">
                <h2>Confirmar Ação</h2>
                <!-- Dynamic content will be loaded here -->
                <div id="modalBody"></div>
                <div class="button-group">
                    <button id="cancelButton" class="submit-button cancel-button">Cancel</button>
                    <button id="saveButton" class="submit-button save-button">Save</button>
                </div>
            </div>
        </div>
        <div id="overlay" class="overlay hidden"></div>

        <section style="text-align: center;">
            <button onclick="getPrivilegeRights();" class="common-button">Checar Férias</button>
        </section>

        <div id="vacations-report-table">
            <table>
                <head>
                    <tr>
                        <th>Médico</th>
                        <th>CRM</th>
                        <th>Benefício</th>
                        <th>Início</th>
                        <th>Fim</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </head>
                <tbody>
                    {% for vacation in vacations %}
                        <tr>
                            <td>{{ vacation.name }}</td>
                            <td>{{ vacation.crm }}</td>
                            <td>{{ vacation.type }}</td>
                            <td>{{ vacation.start_date }}</td>
                            <td>{{ vacation.end_date }}</td>
                            <td>{{ vacation.status }}</td>
                            <td><button class="submit-button save-button" onclick="showPay(this)" data-id="{{ vacation.id }}">$</button></td>
                            <td><button class="submit-button save-button" onclick="showReport(this)" data-id="{{ vacation.id }}">Relatório</button></td>
                            <td>
                                <button 
                                    class="submit-button save-button {% if vacation.status in ["Em andamento", "Concluído", "Pago", "Aprovado", "deferido"] %}disabled-button{% endif %}" 
                                    onclick="changeStatus(this, 'defered')" 
                                    data-id="{{ vacation.id }}"
                                    {% if vacation.status in ["Em andamento", "Concluído", "Pago", "deferido"] %}disabled{% endif %}
                                >
                                    Deferir
                                </button>
                            </td>
                            <td>
                                <button 
                                    class="submit-button save-button {% if vacation.status == "Pago" %}disabled-button{% endif %}" 
                                    onclick="changeStatus(this, 'paid')" 
                                    data-id="{{ vacation.id }}"
                                    {% if vacation.status == "Pago" %}disabled{% endif %}
                                >
                                    Pagar
                                </button>
                            </td>
                            <td><button class="submit-button save-button" onclick="changeStatus(this, 'deleted')" data-id="{{ vacation.id }}">Apagar</button></td>
                        </tr>
                    {% endfor %}              
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
