{% extends 'base.html' %}

{% block outsideContent %}
    {% block title %}
    {% endblock %}

    <div class="keep-in-window">
        <div class="backdrop">
            <div id="button-container">
                <div id="default-buttons">
                    {% if is_admin %}
                    <button type="button" id="edit-button" onclick="startEditing()">Editar</button>
                    <button type="button" id="sum-hours-button">Somar Horas</button>
                    {% endif %}
    
                    {% block reports %}
                    {% endblock %}   
                </div>
    
                <div id="edit-buttons" style="display: none;">
                    <button id="add-button" onclick="executeEdit('add')">Adicionar</button>
                    <button id="delete-button" onclick="executeEdit('delete')">Apagar</button>
                    {% block addRemoveHolidays %}
                    {% endblock %}
                    <button id="exit-edit-button" onclick="finishEditing()">Sair da Edição</button>
                </div>
            </div>
        </div>

        <div id="doctorModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Selecione o Médico</h2>
                <div id="doctorOptions"></div>
                <button id="submitDoctors">Submit</button>
            </div>
        </div>

        <div id="hourModal" class="modal">
            <div class="modal-content">
                <span id="close" class="close">&times;</span>
                <h2>Confirmar Ação</h2>
                <!-- Dynamic content will be loaded here -->
                <div id="modalBody"></div>
                <div class="button-group">
                    <button id="cancelButton" class="cancel-button">Cancel</button>
                    <button id="saveButton" class="save-button">Save</button>
                </div>
            </div>
        </div>
        

        <script type="text/javascript" src="{{ url_for('dataview.static', filename='scripts/panelControl.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('dataview.static', filename='scripts/cellHighlight.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('dataview.static', filename='scripts/resolveData.js') }}"></script>
        {% block otherScripts %}
        {% endblock %}

        <script>
            var centerValue = {{ center | tojson | safe }};
        </script>
        {% block otherScriptVariables %}
        {% endblock %}

        <div id="hours_table">
            <table>
                <tbody>
                    {% set month_days = data[1] %}
    
                    {% for row in data %}
                        {% if loop.index0 == 0 or loop.index0 == 1 %}
                            {% set first_rows = True %}
                        {% endif %}
    
                        <tr>
                        {% for c in row %}
                            {% if loop.index0 == 0 %}
                                <td id="{{ c[1] }}" class="_col_{{ month_days[loop.index0] }}">{{ c[0] }}</td>
                            {% elif first_rows %}
                                <td class="_col_{{ month_days[loop.index0] }}">{{ c }}</td>

                            {% else %}
                                <td class="col_{{ month_days[loop.index0] }}" onclick="cellClicked(this)">{{ c }}</td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                
                {% block holidayScript %}
                {% endblock %}
                <script>
                    if(sessionStorage.getItem('clickButton')) {
                        sessionStorage.removeItem('clickButton');
                        document.getElementById("edit-button").click();
                    }
                </script>
                <script>
                    var isAdmin = {{ is_admin | tojson | safe }};
                </script>
                <script type="text/javascript" src="{{ url_for('static', filename='scripts/buttonListeners.js') }}"></script>

            </table>
        </div>
    </div>
{% endblock %}
