{% extends 'basic-view.html' %}

{% block title %}
    <div><header>{{center}} {{ month }}-{{ year }}</header></div>
{% endblock %}

{% block genReport %}
    <button type="button" id="gen-report" onclick="">Gerar Relatório</button>
{% endblock %}

{% block addRemoveHolidays %}
    <button type="button" id="add-holiday" onclick="addHoliday()">Incluir Feriado</button>
    <button type="button" id="remove-holiday" onclick="">Excluir Feriado</button>
{% endblock %}

{% block otherScripts %}
    <script type="text/javascript" src="{{ url_for('dataview.static', filename='scripts/holidays.js') }}"></script>
{% endblock %}

{% block otherScriptVariables %}
    <script>
        var monthValue = {{ month | tojson | safe }};
        var yearValue = {{ year | tojson | safe }};
    </script>
{% endblock %}

{% block holidayScript %}
    <script> showAllHolidays({{ hdays }}); </script>
{% endblock %}