{% extends 'base.html' %}

{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('calendar.static', filename='css/calendar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('calendar.static', filename='css/kebab.css') }}">
    {% block more_head_links %}
    {% endblock %}
    <script type="text/javascript" src="{{ url_for('calendar.static', filename='scripts/modals.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('calendar.static', filename='scripts/kebabButton.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('calendar.static', filename='scripts/processRequest.js') }}"></script>
{% endblock %}


{% block mainContent %}
    {% block innerContent %}
    {% endblock %}

    <!-- Modal -->
    <div id="modal" class="modal hidden">
        <div class="modal-content">
            <span id="close" class="close">&times;</span>
            <h2 id="modalTitle">Title</h2>
            <label id="modalLabel" for="option">TEXT</label>
            <select class="dropdown" name="center">
                <option value="value1">Value1</option>
                <option value="value2">Value2</option>
            </select>
            <div id="modalBody"></div>
            <div class="button-group">
                <button id="cancelButton" class="submit-button">Cancel</button>
                <button id="saveButton" class="submit-button">Save</button>
            </div>
        </div>
    </div>
{% endblock %}
