{% extends 'base.html' %}

{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('calendar.static', filename='css/calendar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('calendar.static', filename='css/kebab.css') }}">
    {% block more_head_links %}
    {% endblock %}
    <script type="text/javascript" src="{{ url_for('calendar.static', filename='scripts/modals.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('calendar.static', filename='scripts/kebabButton.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('calendar.static', filename='scripts/processRequest.js') }}"></script>
{% endblock %}


{% block mainContent %}
    {% block innerContent %}
    {% endblock %}

    <!-- Modal -->
    <div id="modal1" class="modal hidden">
        <div class="modal-content">
            <span onclick="closeModal('modal1')" id="close-button" class="close-button">&times;</span>
            
            <h2 class="modal-title" id="modalTitle">Title</h2>

            <label class="modal-label" id="modal-label" for="option">TEXT</label>
            <select class="dropdown" name="center"></select>
            
            <div id="modalBody"></div>
            
            <div class="button-group">
                <button onclick="closeModal('modal1')" id="cancelButton" class="submit-button">Cancel</button>
                <button id="saveButton" class="save-button submit-button">Save</button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="modal2" class="modal hidden">
        <div class="modal-content">
            <span onclick="closeModal('modal2')" id="close-button" class="close-button">&times;</span>
            
            <h2 class="modal-title" id="modalTitle">Title</h2>

            <label class="modal-label" id="modal-label" for="option">TEXT</label>
            <select class="dropdown" name="center"></select>
            
            <div id="modalBody"></div>
            
            <div class="button-group">
                <button onclick="closeModal('modal2')" id="cancelButton" class="submit-button">Cancel</button>
                <button id="saveButton" class="save-button submit-button">Save</button>
            </div>
        </div>
    </div>
    <div id="overlay" class="overlay hidden"></div>
    
{% endblock %}
