{% extends 'basic.html' %}

{% block more_head_links %}
    <script type="text/javascript" src="{{ url_for('calendar.static', filename='scripts/calendar.js') }}"></script>
{% endblock %}

{% block innerContent %}
    <table class="calendar">
        <tr class="calendar-header">
            <th colspan="7">{{ month_name }} {{month_year }} {{open_center}}</th>
        </tr>
        <tr>
            <td>Seg</td>
            <td>Ter</td>
            <td>Qua</td>
            <td>Qui</td>
            <td>Sex</td>
            <td>Sab</td>
            <td>Dom</td>
        </tr>
        {% for week in calendar_days %}
            <tr>
                {% for day in week %}
                    <td>{{ day }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <div id="dictData"></div>

    <script>
        var openCenter = {{ open_center | tojson | safe }};        
        var monthName = {{ month_name | tojson | safe }};
        var monthYear = {{ month_year | tojson | safe }};
        
        var daysDict = {{ days_dict | tojson | safe }};
        var currUserData = {{ curr_user_data | tojson | safe }};
        var doctorsDict = {{ doctors_dict | tojson | safe }};
        var doctorsList = {{ doctors_list | tojson | safe }};
    </script>
{% endblock %}