<!DOCTYPE html>
<html translate="no">
<html lang="en">
<head>
  <title>Anestesio</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flash.css') }}">


  {% block head_links %}
  {% endblock %}
</head>
<body>
  <header onclick="window.location.href='/'">
    <div class="header-content">
      <h1>Grupo de Anestesia Mackenzie</h1>
      <img src="/static/logo.png" alt="Mackenzie Doctors Logo" id="logo">
    </div>
    
    <div class="user-name">
      <a href="{{ url_for('login.profile') }}" style="color: #add8e6; ">
        {{ user_name }}
      </a>

    {% if not dont_show_logout %}
      <form class="button-logout" id="logout" action="/logout" method="post">
        <button type="submit">Sair</button>
      </form>
    {% endif %}
    </div>

  </header>

  <!-- Display Flash Messages -->
  <div class="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </div>

    {% block outsideContent %}
    {% endblock %}
  <main id="main-container">
    {% block mainContent %}
    {% endblock %}
  </main>
</body>
</html>
